$icomoon-font-family: "catpart" !default;
$icomoon-font-path: "fonts" !default;

$icon-check: "\e905";
$icon-chevron-up: "\e904";
$icon-close: "\e903";
$icon-call: "\e900";
$icon-cart: "\e901";
$icon-download: "\e902";

