.breadcrumbs {
  padding-top: 15px;

  &__list {
    list-style: none;
    font-size: 12px;
    color: #878787;
    display: flex;
    flex-flow: row wrap;

    li {
      position: relative;
      margin-top: 7px;

      &::after {
        content: '/';
        padding-left: 5px;
        padding-right: 2px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #878787;

    &:hover {
      color: $main_blue;
    }
  }
}
