@import '../../node_modules/sanitize.css/sanitize.css';

:root {
  --app-height: 100%;
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

* {
  outline: 0;

  &::-webkit-scrollbar {
    overflow-y: scroll;
    background-color: white;
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    transition: background-color .3s;
    background-color: $main_gray_hover;

    &:hover {
      background-color: $gray_border;
    }
  }
}

html {
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.2;
  overflow-x: hidden;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
}

body {
  overflow-y: scroll;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  touch-action: pan-y pan-x;

  &.__no-overflow {
    overflow-y: scroll;

    #{$root_node} {
      height: 100%;
      overflow: hidden;
    }
  }

  &.__busy {
    cursor: not-allowed;

    * {
      pointer-events: none;
    }
  }
}

#{$root_node} {
  background-color: #fff;
  display: flex;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

a {
  transition: color .3s, background-color .3s;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app-holder {
  width: 100%;
  height: 100%;
}

.app-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 15px;
  flex-direction: column;

  &:before {
    content: '';
    position: fixed;
    transition: opacity .3s;
    border-radius: 6px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border: 2px dashed $main_blue;
    opacity: 0;
    pointer-events: none;
  }

  &.__over {
    &::before {
      opacity: 1;
    }
  }

  @include respond-to-min($tablet) {
    max-width: $tablet;
  }

  @include respond-to-min($dt) {
    max-width: $dt;
  }

  @include respond-to-min($wide) {
    max-width: $wide;
  }

}

.white-space__normal {
  white-space: normal;
}

.text-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.sm-hide {
  display: none !important;
}

.mob-only {
  @include respond-to-min($tablet) {
    display: none !important;
  }
}

.mob-hidden {
  @include respond-to-max($tablet) {
    display: none !important;
  }
}

.md-block {
  @include respond-to-min($tablet) {
    display: block !important;
  }
}

.__cp {
  cursor: pointer;
}
