@mixin respond-to-max($custom) {
  @media only screen and (max-width: $custom - 1) {
    @content;
  }
}

@mixin respond-to-min($custom) {
  @media only screen and (min-width: $custom) {
    @content;
  }
}

@mixin respond-to-min-max($custom1, $custom2) {
  @media only screen and (min-width: $custom1) and (max-width: $custom2 - 1) {
    @content;
  }
}

@mixin btn() {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 30px;
  padding: 0 10px;
  min-width: 30px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-size: 12px;
  line-height: 1;
  border: 0;
  transition: color .3s, background-color .3s, box-shadow .3s;

  &-inner {
    //max-width: 100%;
    cursor: inherit;
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: inherit;

    span.__dotted {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.__abs {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.__blue {
    color: #fff;
    background: $main_blue;

    &.__active,
    &:hover {
      background: $main_blue_light;
      box-shadow: 0 0 20px rgba(71, 93, 244, 0.5);
    }

    &.active,
    &:active {
      background: $main_blue;
    }
  }

  &.__gray {
    color: $main_gray;
    background: $main_gray_light;

    &:hover {
      background: $main_gray_hover;
    }

    input:checked + &,
    &.active,
    &:active {
      color: #fff;
      background: $main_gray;
    }
  }

  &.__gray-dash {
    color: $gray_text;
    background: #fff;
    border: 2px dashed $gray_border;

    &:hover {
      background: $main_gray_light;
    }

    &.active,
    &:active {
      background: $main_gray_light;
    }
  }

  &.__disabled {
    color: #fff;
    background: #c6c6c6;
    box-shadow: none !important;
    pointer-events: none;
  }

  &.__lg {
    font-size: 14px;
    height: 50px;
  }
}

@mixin burger() {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;

  span {
    will-change: transform;
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 1px;
    height: 2px;
    margin: 1px auto;
    width: 50%;
    transition: all .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
}

@mixin burger_open() {
  span {
    &:nth-of-type(1) {
      width: 20%;
      margin: 0;
      transform-origin: bottom;
      transform: rotatez(45deg) translate(-2px, 2px)
    }

    &:nth-of-type(2) {
      width: 44%;
      transform-origin: top;
      transform: rotatez(-45deg)
    }

    &:nth-of-type(3) {
      margin: 0;
      transform-origin: bottom;
      width: 20%;
      transform: translate(2px, -1px) rotatez(45deg);
    }
  }
}

@-webkit-keyframes menu_animation {
  0% {
    opacity: 0;
    transform: translateY(-50px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes menu_animation {
  0% {
    opacity: 0;
    transform: translateY(-50px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}


@-webkit-keyframes menu_hidden {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1;
    transform: translateY(0)
  }

  to {
    transform: translateY(-50px);
    opacity: 0
  }
}

@keyframes menu_hidden {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1;
    transform: translateY(0)
  }

  to {
    transform: translateY(-50px);
    opacity: 0
  }
}

%menu_hide {
  animation-name: menu_hidden;
  visibility: hidden;
}

%menu_show {
  -webkit-animation-name: menu_animation;
  animation-name: menu_animation;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  visibility: visible
}

%button_reset {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: color .3s, background-color .3s;
  background: none;
  border: 0;
  padding: 0;
}
