$mobile: 300px;
$tablet: 600px;
$dt: 900px;
$wide: 1200px;

$root_node: '#__next';

$icomoon-font-path: "fonts";

$main_blue: #475df4;
$main_blue_light: #7687f9;

$main_gray: #646464;
$main_gray_light: #f7f8fd;
$main_gray_hover: #eff1fb;

$gray_text: #bababa;
$gray_link: #878787;
$gray_border: #dadada;
$gray_placeholder: #919191;

$form_transition: .5s;
$form_transition_delay: .5s;
$title_transition: .5s;
